0-node
*.txt
.vscode/
11-size
13-nodes
2-right
4-leaf
6-pre
8-post
9-height
test
14-balance
17-sibling
16-perfect
18-uncle
101-lvl
102-complete
7-in
110-is_bst
111-bst_insert
112-bst_array
*
!*.c
!*.h
*main.c
!115-O
!135-O
